* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}

:root {
    /* -------------- FONT FAMILY ----------  */
    --primary-font: Inter;
    --secondary-font: "Lexend Deca";

    /* -------------- COLORS --------------- */
    --Very-dark-blue: hsl(233, 47%, 7%);
    --Dark-desaturated-blue: hsl(244, 38%, 16%);
    --Soft-violet: hsl(277, 64%, 61%);
    --White: hsl(0, 0%, 100%);
    --Slightly-transparent-white-p: hsla(0, 0%, 100%, 0.75);
    --Slightly-transparent-white-s: hsla(0, 0%, 100%, 0.6);
}

html {
    font-size: 16px;
}

body {
    background-color: var(--Very-dark-blue);
    
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    padding: 25px;
}

.card {
    background-color: var(--Dark-desaturated-blue);
    display: flex;
    max-width: 1110px;
    height: 445px;
    border-radius: 10px;
    margin: 25px;
    transition: all .4s ease;
}

.card__content-container {
    width: 50.95%;
    height: 100%;
    padding: 70px;
    transition: all .4s ease;
}

.card__image-container {
    width: 49.05%;
    height: 100%;
    position: relative;
}


.card__content-container__heading {
    color: var(--White);
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 38px;
    line-height: 1.2;
}

.card__content-container__heading span {
    color: var(--Soft-violet);
}

.card__content-container__sub-heading {
    color: var(--Slightly-transparent-white-p);
    font-family: var(--secondary-font);
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5;
    max-width: 360px;
    margin-top: 26px;
}

.card__content-container__stats-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 340px;
    margin-top: 75px;
    transition: all .4s ease;
}

.card__content-container__stats-container h2 {
    color: var(--White);
    font-family: var(--primary-font);
    font-weight:7400;
    font-size: 24px;
}

.card__content-container__stats-container p {
    color: var(--Slightly-transparent-white-s);
    font-family: var(--secondary-font);
    line-height: 1.5;
    text-transform: uppercase;
    margin-top: 10px;
}


.card__image-container__desktop-img {
    display: block;
}
.card__image-container__mobile-img {
    display: none;
}

.card__image-container__desktop-img,
.card__image-container__mobile-img {
    width: 100%;
    height: 100%;
    border-radius: 0 10px 10px 0;
}

.card__image-container__overlay {
    background-color: hsl(277, 84%, 41%, 0.5);
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    border-radius: 0 10px 10px 0;
    z-index: 10;
}

@media screen and (max-width: 1120px) {
    .card__image-container__desktop-img {
        display: none;
    }
    .card__image-container__mobile-img {
        display: block;
    } 
}


@media screen and (max-width: 968px) {
    .card {
        flex-direction: column;
        max-width: 555px;
        height: auto;
        margin: auto;
    }

    .card__image-container {
        width: 100%;
        order: 1;
    }
    .card__content-container {
        width: 100%;
        order: 2;
      
    }

    .card
    .card__image-container__mobile-img,
    .card__image-container__overlay {
        border-radius: 10px 10px 0 0;
    } 
}

@media screen and (max-width: 563px) {

    .card__content-container {
        padding: 30px 20px;
    }
    .card__image-container{
        height: 260px;
    }

    .card__content-container__heading {
        font-size: 35px;
        text-align: center;
    }

    .card__content-container__sub-heading {
        text-align: center;
    }

    .card__content-container__stats-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 30px;
        margin-top: 40px;
    }
}
